html {
    -webkit-font-smoothing: antialiased !important;
}
body {
    background: url('http://getwallpapers.com/wallpaper/full/b/c/1/632201.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 13px;
}


.outer-card{
    background: #2b5b8a;
    color: white;
    padding: 10px !important;
}

.inner-card .row {
    margin-bottom: 0;
}

.inner-card .card-content {
    padding-top: 0;
}

.inner-card .card-small {
    background: #337ab7;
    color: white;
    padding: .2rem;
    margin: 0.5rem 0 1rem 0;
}

.inner-card {
    /*background: transparent;*/
    background: rgba(238, 235, 255, 0.9);
}

.card-action a:hover{
    color: #616161 !important;
}

.btn {
    overflow: hidden;
}
.btn:hover:before {
    opacity:1;
}

.btn:before {
    content: '';
    opacity: 0;
    background-color: rgba(255,255,255,.1);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}

button:hover{
@extend .blue, .lighten-4 !important;
}

hr {
    border: 1px solid darkgray;
}

.card-content h6 {
    margin: 0;
    line-height: 1;
    padding: 10px;
    background: #b2bac9;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
}
.input-field input::placeholder {
    color: #757575;
}



