html {
    -webkit-font-smoothing: antialiased !important;
}

body {
    background: url('http://getwallpapers.com/wallpaper/full/b/c/1/632201.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
}


.outer-card {
    background: #2b5b8a;
    color: white !important;
    padding: 2px !important;
}

.inner-card .row {
    margin-bottom: 0;
}

.row {
    margin-bottom: 0;
}

.inner-card .card-content table tr {
    color: white !important;
}

.inner-card .card-content {
    color: white !important;
    padding-top: 0;
}

.inner-card .card-small {
    background: #337ab7;
    color: white !important;
    padding: 0.01%;
    margin: 0;
}

.card-action a:hover {
    color: #616161 !important;
}

.btn {
    overflow: hidden;
}

.btn:hover:before {
    opacity: 1;
}

.btn:before {
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, .1);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}

hr {
    border: 1px solid darkgray;
}

.card-content {
    background: rgba(51, 122, 183, 0.9);
}


.inner-card .card-panel {
    background: #337ab7;
    margin-bottom: 0;
}

.card-content h6 {
    line-height: 1;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
}

.input-field input::placeholder {
    color: #757575;
}

header,
main,
footer,
#heading-card-wrapper{
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }
}

li.tab.side {
    display: block;
    text-align: inherit;
}

ul#slide-out.tabs {
    display: block;
}

ul#slide-out.tabs .indicator {
    display: none;
}

.nav-fixed {
    /*background: #003466;*/
    background: #006599;
}

.tab a {
    color: #006599 !important;
}

.tab .active {
    background: #006599 !important;
    color: #fff !important;
}

table tbody tr:hover {
    background-color: rgba(51, 122, 200, 0.85) !important;
}

#heading-card-wrapper {
    width: 96.5%;
}

#heading-card {
    background: #3366cc;
    padding: 0.002% !important;
}

nav {
    width: calc(100% - 300px);
    background: #003399;
}

nav .nav-wrapper ul {
    margin-right: 2.5%;
}

.brand-logo {
    margin-left: 2.5%;
}

.brand-logo img {
    margin-top: 1%;
}

#dropdown1 {
    top: inherit !important;
    left: inherit !important;
}

#dropdown1 li a:hover {
    background: rgba(0, 51, 153, 0.8);
    color: white;
}

#dropdown1 li a {
    color: #003399;
}

.collapsible {
    border-top: none;
    border-right: none;
    border-left: none;
}

.collapsible-header {
    padding: 0 !important;
}

.collapsible-header:focus {
    outline: none;
}

.collapsible-body {
    padding: 0;
}